<style type="text/css">
	body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
input{color:red;}
[type="submit"]:hover { background:#CC4949; }
	
</style>
{% extends 'home.html' %}
{% block content %}
{% with message = get_flashed_messages()%}
{% if message %}
{% for msg in message %}
	<div class="main">
			<p>{{msg}}</p>
		</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

<form action="{{url_for('check')}}" method="POST">
	<h1 style="color: red;text-transform: capitalize;text-align: center;">Checking Form</h1>
	<!--
	<input type="text" name="username" placeholder="username" required><br>
	<input type="email" name="email" placeholder="email" required><br>
	<input type="text" name="city" placeholder="city" required><br>
	<input type="submit" name="" value="submit"><br>-->
	<input name="username" type="text" class="feedback-input" placeholder="username" required> 
	<input name="email" type="email" class="feedback-input" placeholder="email" required>  
	<input name="city" type="text" class="feedback-input" placeholder="city" required>  
	<input type="submit" value="SUBMIT">
</form>

{% endblock %}