<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
input{color:red;}
[type="submit"]:hover { background:#CC4949; }
</style>

{% extends 'home.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="main">
			<p>{{msg}}</p>
		</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

<form action="{{url_for('home')}}" method="POST">
	<h1 style="color: red;text-transform: capitalize;text-align: center;">Login Form</h1>
	<!--
	<input type="email" name="email" placeholder="email" required><br>
	<input type="password" name="password" placeholder="password" required><br>
	<input type="submit" name="" value="login"><br>-->

  <input name="email" type="email" class="feedback-input" placeholder="email" required id="email">   
  <input name="password" type="password" class="feedback-input" placeholder="password" required id="password">
  <input type="submit" value="SUBMIT" id="sub">
	<a href="{{url_for('forgetpassword')}}" style="display:block;margin-top: 20px;font-size: 20px;text-transform: capitalize;">Forget password?
	</a>
	<a href="{{url_for('newuser')}}" style="display:block;margin-top: 20px;font-size: 20px;text-transform: capitalize;">
		don't have account?
	</a>
</form>

{% endblock %}